* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
}

.main {
    width: 1200px;
    min-height: 100vh;
    max-width: 100%;
    margin: auto;
    padding-bottom: 20px;
}

.nav {
    display: flex;
    align-items: center;
    height: 48px;
    background-color: #333;
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    margin-right: 48px;
}

/* Article */
h1 {
    line-height: 2rem;
}

article {
    padding: 0 16px;
    line-height: 1.6rem;
}

article img {
    width: 640px;
    max-width: 100%;
    display: block;
    margin: 32px auto;
}

/* Mobile nav */
 .nav__bars-btn {
    width: 28px;
    height: 28px;
    background-color: #fff;
    display: none;
    margin-left: 8px;
 }

 .nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
    display: none;
    animation: fadeIn linear 0.3s;
 }

.nav__mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(-100%);
    transition: all linear 0.2s;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.nav__checkbox-input:checked ~ .nav__overlay {
    display: block;
}

.nav__checkbox-input:checked ~ .nav__mobile {
    transform: translate(0);
    opacity: 1;
}

.nav__mobile-list {

}

.nav__mobile-link {
    text-decoration: none;
    color: #333;
    padding: 8px;
    display: block;
    font-size: 1.4rem;
}

.nav__mobile-icon-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.4rem;
    color: #666;
    width: 30px;
    height: 30px;
    padding: 8px;
}

@media screen and (max-width: 1023px) {
    .nav__pc {
        display: none;
    }

    .nav__bars-btn {
        display: block;
    }
}